# Auto detect text files and perform LF normalization
* text=auto
Java/Snake/lib/* linguist-vendored
Java/Snake/docs/* linguist-vendored
Java/Snake/docs/resources/* linguist-vendored
Java/Snake/docs/jquery/* linguist-vendored
Python/Tetris/assets/* linguist-vendored
Python/Tetris/build/* linguist-vendored
Python/Tetris/build/tetris/* linguist-vendored
