# Auto detect text files and perform LF normalization
* text=auto
Java/Snake/docs/* linguist-detectable=false
Java/Snake/lib/* linguist-detectable=false
Python/Tetris/build/* linguist-detectable=false
Python/Tetris/assets/* linguist-detectable=false
