# Auto detect text files and perform LF normalization
* text=auto
Java/Snake/docs/* linguist-documentation
Java/Snake/docs/resources/* linguist-documentation
Java/Snake/docs/jquery/* linguist-documentation
Python/Tetris/build/* linguist-documentation
Python/Tetris/build/tetris/* linguist-documentation
Python/EmojiMatch/assets/* linguist-documentation
Python/EmojiMatch/assets/* linguist-vendored
